/* header */

.header {
  position: sticky;
  @include flex();
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 8rem;
  background: $background-dark;
  transition: $transition;

  &.sticky {
    background: #1e1e1e;
  }

  &__content {
    @include flex($justify: space-between);
    gap: 20px;
    padding: 0 20px;
  }

  @include media('s') {
    height: 5rem;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0 10px;
    gap: 10px;
  }

  @include media('xxs') {
    gap: 0;
  }

  & > * {
    flex: 1;
  }

  &__logo {
    text-align: left;

    .logo {
      padding: 15px 0;
      min-width: 150px;
      max-width: 280px;
      position: relative;
      margin-top: 2px;

      @include media('xs') {
        min-width: auto;
      }

      a {
        white-space: nowrap;
      }

      &__image {
        display: inline-block;
        max-height: 50px;
        max-width: 100%;
        width: auto;
        text-decoration: none;
        margin-top: -22px;

        @include media('xs') {
          max-height: 40px;
        }

        @include media('xxs') {
          max-height: 30px;
        }
      }

      &__span {
        @include font(
          $family: $font-family-title,
          $size: 1.6rem,
          $weight: bold,
          $color: $links
        );
        margin-left: 10px;

        @include media('xs') {
          display: none;
        }
      }
    }
  }

  &__links {
    @include flex($justify: center);
    gap: 30px;
  }

  &__buttons {
    @include flex($justify: flex-end);
    gap: 10px;

    @include media('s') {
      flex: 0;
    }

    @include media('xxs') {
      flex: 1;
    }

    &-icon {
      @include media('s') {
        @include flex($justify: flex-start, $align: baseline);
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        background: url(/src/assets/svg/profile.svg) no-repeat center center /
          cover;
        cursor: pointer;
        height: 25px;
        width: 25px;
      }
    }

    &-list {
      @include flex($justify: flex-end);
      gap: 10px;

      @include media('s') {
        display: none;
      }

      &.active {
        @include media('s') {
          position: absolute;
          @include flexColumn($align: flex-start);
          gap: 10px;
          margin-top: 133px;
          margin-right: 42px;
          background: #fad7ee;
          padding: 7px 14px;
          border-radius: 12px;
          box-shadow:
            0 0 0 1px #ffffff0a,
            0 5px 7px 0 #ffffff38;
          z-index: 1;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: -12px;
          right: 7%;
          border-color: transparent;
          border-style: solid;
          border-width: 6.5px;
          border-bottom-color: #fad7ee;
        }

        &::before {
          top: -13px;
          border-bottom-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
